BulldozerEV3/*.jar
BulldozerEV3/out
Main.jar
BulldozerEV3/META-INF

metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.class
*.project
*.classpath

*.iml
.idea
*.ipr
*.iws
BulldozerEV3/bin/
BulldozerEV3/*.jar
